/* Images */
#avivaLogo {
    float: left;
    margin-top: 2px;
}

#rbsLogo {
    float: right;
    margin-top: 15px;
    margin-right: 5px;
}

#natwestLogo {
    margin-left: 5px;
    margin-top: 22px;
    float: right;
}

/* Divs */

#contactTitle {
    background-color: #ffd900;
}

#footer {
    background-color: #ffd900;
}

#siteMap {
    background-color: #0a2f64;
}

#contactForm {
    background-color: #EDEDED;
    padding-top: 25px;
    padding-left: 110px;
    margin-bottom: 25px;
}

/* Texts/Headers/Fonts */
#contactTitle {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif !important;
    color: #0a2f64;
}

h4 {
    text-align: left;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif !important;
    color: #0a2f64 !important;
}

h5 {
    font-family: 'Montserrat', sans-serif !important;
    text-align: center;
    word-spacing: 20px;
}

a {
    font-family: 'Montserrat', sans-serif !important;
    text-align: center !important;
    color: #0a2f64!important;
}

p {
    color: #0a2f64!important;
    font-family: 'Montserrat', sans-serif !important;
}