/* Images */
#avivaLogo {
    float: left;
    margin-top: 2px;
}

#rbsLogo {
    float: right;
    margin-top: 15px;
    margin-right: 5px;
}

#natwestLogo {
    margin-left: 5px;
    margin-top: 22px;
    float: right;
}

#welcomeImage {
    height: 350px;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

/* Divs */
#welcome {
    background-color: #ffd900;
    -webkit-box-shadow: 4px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 4px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 4px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

#emptyDiv {
    display: inline-block;
    background-color: #ffd900;
}

#howTo {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-left: 20px;
    margin-top: 10px;
    border: 3px solid #0a2f64;
    border-radius: 10px;
    -webkit-box-shadow: 4px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 4px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 4px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

#benefits {
    background-color: #0a2f64;
    margin-top: 10px;
    padding-left: 3px;
    padding-right: 20px;
    -webkit-box-shadow: 4px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 4px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 4px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

#claim {
    margin-top: -10px;
}

#claim2 {
    margin-top: -50px;
    margin-left: 30px;
}

#step2 {
    float: left;
    margin-left: 15px;
}

#footer {
    background-color: #ffd900;
}

/* Text/Headers/Fonts */
h1.welcome {
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 50px !important;
    color: #0a2f64;

}

h5 {
    font-family: 'Montserrat', sans-serif !important;
    text-align: center;
    word-spacing: 20px;
    color: #0a2f64;
}

p.small {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold !important;
    font-size: 20px !important;
    line-height: 5% !important;
    color: #0a2f64;
}

#helpText {
    font-family: 'Montserrat', sans-serif !important;
    text-align: left;
}

h4.modal {
    text-align: left;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif !important;
    color: #0a2f64 !important;
}

h4 {
    text-align: left;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif !important;
    color: #0a2f64;
}

h4.reg {
    color: #0a2f64;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold;
    margin-left: 10px;
}

h4.textBenefits {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif !important;
    margin-left: 20px;
    font-size: 25px;
}

h4.addDevice {
    color: #0a2f64;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold;
    font-size: 20px;
}

ul.benefitText {
    font-family: 'Montserrat', sans-serif !important;
    width: 47%;
    float: left;
    list-style: none;
    color: #ffffff;
    overflow: hidden;
    font-size: 15px;
}

ul.benefitText2 {
    font-family: 'Montserrat', sans-serif !important;
    width: 50%;
    float: right;
    list-style: none;
    color: #ffffff;
    overflow: hidden;
    font-size: 15px;
}

li.claimText {
    color: #0a2f64;
    font-size: 15px;
}

ul {
    font-family: 'Montserrat', sans-serif !important;
}

a.links {
    color: #0a2f64 !important;
}

a {
    font-family: 'Montserrat', sans-serif !important;
}

h4.claim {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 20px;
    color: #0a2f64;
    font-weight: bold;
}

p.small {
    margin-left: 25px;
}

/* Buttons */
#claimBtn {
    -webkit-border-radius: 17;
    -moz-border-radius: 17;
    border-radius: 17px;
    text-shadow: 1px 1px 3px #666666;
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    color: #ffffff;
    font-size: 25px;
    background: #0a2f64;
    padding: 7px 13px 10px 13px;
    border: solid #0a2f64 3px;
    text-decoration: none;
}

#claimBtn:hover {
    background: #0a2f64;
    background-image: -webkit-linear-gradient(top, #0a2f64, #0b629c);
    background-image: -moz-linear-gradient(top, #0a2f64, #0b629c);
    background-image: -ms-linear-gradient(top, #0a2f64, #0b629c);
    background-image: -o-linear-gradient(top, #0a2f64, #0b629c);
    background-image: linear-gradient(to bottom, #0a2f64, #0b629c);
    text-decoration: none;
}

#goBtn {
    background-color: #0a2f64;
}

#viewBtn {
    -webkit-border-radius: 17;
    -moz-border-radius: 17;
    border-radius: 17px;
    text-shadow: 1px 1px 3px #666666;
    font-family: 'Montserrat', sans-serif;
    margin-left: 120px;
    color: #ffffff;
    font-size: 25px;
    background: #0a2f64;
    padding: 7px 13px 10px 13px;
    border: solid #0a2f64 3px;
    text-decoration: none;
}

#viewBtn:hover {
    background: #0a2f64;
    background-image: -webkit-linear-gradient(top, #0a2f64, #0b629c);
    background-image: -moz-linear-gradient(top, #0a2f64, #0b629c);
    background-image: -ms-linear-gradient(top, #0a2f64, #0b629c);
    background-image: -o-linear-gradient(top, #0a2f64, #0b629c);
    background-image: linear-gradient(to bottom, #0a2f64, #0b629c);
    text-decoration: none;
}

#modalNext {
    background-color: #0a2f64 !important;
    margin-left: 50px;
    float: right;
    margin-right: 20px;
}

#modalView {
    background-color: #0a2f64 !important;
    margin-left: 100px;
}